{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block body %}
    <div class="container p-4 mt-4">
        <ul class="list-group">
            <li class="list-group-item bg-info heading" aria-current="true" style="font-size: 24px"><img src="{% static 'logo.png' %}" width="60"> TO-DO List
            <a href="{% url 'home' %}" class="btn" style="float: right;font-size: 32px;color: #FFFFFF"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
            </li>
            <li class="list-group-item">
                <form action="{% url 'add_todo' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-outline-info" type="submit" style="float:right;">ADD</button>
                </form>
            </li>
        </ul>
    </div>

{% endblock %}