{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="container p-4 mt-4">
        {% if messages %}
            <div class="alert alert-success" role="alert">
              {% for message in messages %}{{ message }}{% endfor %}
            </div>
        {% endif %}
        <ul class="list-group">
            <li class="list-group-item bg-info heading" aria-current="true" style="font-size: 24px"><img src="{% static 'logo.png' %}" width="60"> TO-DO List
            <a href="{% url 'add_todo' %}" class="btn" style="float: right;font-size: 32px;color: #FFFFFF"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            </li>
            {% if todo %}
                {% for x in todo %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-10">
                            {{ x.text }}
                        </div>
                        <div class="col-md-2">
                            <a href="{% url 'delete' %}?id={{ x.id }}" class="btn" style="float: right"><i class="fa fa-trash-o text-danger" aria-hidden="true"></i></a>
                            <a href="{% url 'update' %}?id={{ x.id }}" class="btn" style="float: right"><i class="fa fa-pencil-square-o text-info" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item text-center p-4" style="font-size: 24px">Your To-Do List is Empty.</li>
            {% endif %}
        </ul>
    </div>

{% endblock %}